.App {
  text-align: center;
  background-color: #282c34;
}


.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex-container {
  display:flex;
  flex-direction: row;
}
.dropdown-dataset {
  margin: 10px;
}

#menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #393f4a;
}

.menu-item {
  margin: 20px;
  font-size: 25px;
  line-height: 35px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu-item a {
    text-decoration: none;
  }

.menu-item a:hover{
  color: #2F80ED;
}
.defaultLink {
  color: #56CCF2;
}

.activeLink {
  color: #2F80ED;
}

.stat {
  margin: 15px;
}
